// | -------------------------------------------------------------
// | Flex
// | -------------------------------------------------------------

.flex-100 {
  flex: 100%;
}

.flex-50 {
  flex: 1 40%;
}

.flex-1 {
  flex: 1;
}

.flex-auto {
  flex: auto;
}
