// | -------------------------------------------------------------
// | Container
// | -------------------------------------------------------------

@use "../base/breakpoint" as *;

.mr-container {
  padding: 0 88px;

  @include breakpoint(medium) {
    padding: 0 1rem;
  }
}

.mr-no-container {
  padding: 30px;
}
