// | -------------------------------------------------------------
// | Header
// | -------------------------------------------------------------

@use "../base/space" as *;
@use "../base/sizes" as *;
@use "../base/border" as *;
@use "../base/breakpoint" as *;
@use "../base/transitions" as *;

$color-black: var(--color-black);
$color-white: var(--color-white);
$color-science-blue: var(--color-science-blue);
$color-ironside-grey: var(--color-ironside-grey);
$color-granite: var(--color-granite);
$color-white-smoke: var(--color-white-smoke);
$color-lighting-yellow: var(--color-lighting-yellow);
$color-lemon-grass: var(--color-lemon-grass);
$color-rosso-corsa: var(--color-rosso-corsa);
$color-green: var(--color-green);

.header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: $color-white;
  z-index: 2;

  &__wrapper {
    padding: $space-20 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap-default);
    flex-wrap: wrap;
  }

  &__brand {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 140px;
    height: auto;
    margin-left: 30px;

    a {
      display: flex;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  // profile header
  &__profile {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;

    &-dropdown {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-end;

      h3 {
        @include size-12;
        color: $color-black;
        font-weight: 700;
      }

      span {
        @include size-10;
        color: $color-science-blue;
        font-weight: 600;
        text-transform: uppercase;
      }
    }

    &-button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      gap: 9px;

      i {
        @include size-15;
        color: $color-science-blue;
      }
    }

    &-image {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-flex;
      align-items: center;
      justify-content: center;

      &__admin {
        background-color: $color-lighting-yellow;
      }

      &__distributor {
        background-color: $color-science-blue;
      }

      &__agency {
        background-color: $color-green;
      }

      span {
        @include size-12;
        font-weight: 700;
        color: $color-white;
      }
    }

    &-dropdown-options {
      width: 200px;
      padding: $space-15;
      background-color: $color-black;
      position: absolute;
      top: 50px;
      right: 0;
      border-radius: var(--radius-large);
      display: none;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 10px;
      z-index: 1;

      a {
        @include size-12;
        color: $color-white;
        font-weight: 400;
        transition: .3s ease-in;

        &:hover {
          color: $color-lighting-yellow;
          transition: .3s ease-out;
        }
      }
    }
  }

  // navbar
  &__navbar {
    display: flex;
    padding: $space-20 95px;
    background-color: $color-science-blue;
    border-top: 4px solid $color-lighting-yellow;
    align-items: center;
    justify-content: space-between;

    & > div:first-of-type {
      display: flex;
      gap: 40px;
    }

    &-title {
      h2 {
        @include size-24;
        color: $color-white;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    &-list {
      display: flex;
      align-items: center;
      gap: 30px;
      flex-wrap: wrap;

      li {
        a {
          max-width: 100%;
          padding: $space-8 39px;
          @include size-12;
          color: $color-white;
          text-transform: uppercase;
          text-align: center;
          border-radius: var(--radius-large);
          display: inline-flex;
          align-items: center;
          justify-content: center;

          &:not(.active):hover {
            color: $color-lighting-yellow;
            transition: .3s ease-out;
          }
        }

        .active {
          background-color: $color-lighting-yellow;
          font-weight: 700;
        }
      }
    }

    // Notifications
    &-notifications {
      display: none;

      &.active {
        display: block;
      }

      button {
        border: none;
        position: relative;
  
        i {
          color: $color-white;
          transition: .3s ease-out;
  
          &:hover {
            color: $color-lighting-yellow;
            transition: .3s ease-in;
          }
        }
  
        span {
          position: absolute !important;
          top: 7px !important;
          right: 10px;
          padding: 4px;
        }
      }

      &__wrapper {
        width: 295px !important;

        & > div {
          padding: 30px;
        }

        div.offcanvas-header {
          justify-content: flex-end;

          button:focus {
            box-shadow: none;
          }
        }

        div.offcanvas-body {
          padding-top: 0;
        }
      }

      &__title {
        @include size-18;
        font-weight: 700;
        margin-bottom: 30px;
      }

      &__item {
        margin-bottom: 30px;

        &.mr-notification-unread {
          span.badge {
            background-color: $color-rosso-corsa;
          }

          a {
            color: $color-rosso-corsa;
            transition: .3s ease-out;
          }
        }

        &.mr-notification-readed {
          span.badge {
            background-color: $color-science-blue;
          }

          a {
            color: $color-science-blue;
            transition: .3s ease-out;
          }
        }

        h3 {
          display: flex;
          align-items: center;
          gap: 15px;
          @include size-12;
          font-weight: 700;
          color: $color-black;
          margin-bottom: 5px;

          span.badge {
            padding: 3px;
          }
        }

        div {
          padding-left: 21px;

          span {
            display: block;
            @include size-10;
            font-weight: 600;
            color: $color-lemon-grass;
            margin-bottom: 5px;
          }
  
          p {
            @include size-10;

            a:hover {
              opacity: .7;
              transition: .3s ease-in;
            }
          }
        }
      }
    }
  }

  @include breakpoint(medium) {
    &__wrapper,
    &__navbar {
      padding-right: 0;
      padding-left: 0;
    }

    &__navbar {
      flex-direction: column;
      &-list {
        flex-direction: column;
      }
    }
  }
}

// button hamburger
.btn-hamburger {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: $color-white;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  span {
    display: block;
    width: 100%;
    height: 2px;
    margin-bottom: $space-8;
    background-color: $color-granite;
  }

  span:last-child {
    margin-bottom: 0;
  }
}
