// | -------------------------------------------------------------
// | Main
// | -------------------------------------------------------------

.main {
  position: relative;
  background-color: var(--color-white-smoke);
  flex-grow: 1;
}
